.box {
    border: 1px solid gray;
    background-color: white;
    padding: 0.5rem 1rem;
    cursor: move;
    float: left;
    margin-bottom: 5px;
}

.draggingBox {
    opacity: 0.4;
}

.noDraggingBox {
    opacity: 1;
}