.board {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: normal;
    float: left;
    background-color: white;
    border: 1px dashed gray;
    flex-basis: 80%;
}

.activeBoard {
    background-color: #F2F4F6;
}