// .video-frame {
//     overflow: hidden;
//     // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
//     padding-top: 56.25%;
//     position: relative;
//   }
   
//   .video-frame iframe {
//      border: 0;
//      height: 100%;
//      left: 0;
//      position: absolute;
//      top: 0;
//      width: 100%;
//   }

@function ratio($width, $height) {
    @return percentage( $height / $width);
}

@mixin generateRatios($width, $height, $prefix: "ratio-") {
    $class-name: $prefix + $width + "x" + $height;
   
    .#{$class-name} {
      padding-bottom: ratio($width, $height);
      overflow: hidden;
      position: relative;
    }

    .#{$class-name} iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    // Output example: .ratio-16x9 {}
}

@include generateRatios(16,9);
@include generateRatios(4,3);

.video-screen {
    width: 100%;
}

.video-screen-small {
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 20px;
}