.video-item {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.video-item-big {
    flex-direction: column;
}

.video-item-small {
    flex-direction: row;
}

.video-item img {
    max-width: 180px;
}

.video-item-title {
    max-width: 180px;
}