.alert-box {
    overflow: hidden;
    display: inline-flex;
    width: 100%;
    line-height: 24px;
}

.warning-box {
    border: 2px solid #E9600C;
}

.infor-box {
    border: 2px solid #4B626C;
}

.icon-section {
    padding: 10px;
}

.warning-icon {
    background-color: #E9600C;
}

.infor-icon {
    background-color: #4B626C;
}

.icon {
    vertical-align: bottom;
}

.text {
    background-color: white;
    color: black;
    padding: 10px;
}
