.video-list {
    display: flex;
}

.video-list-big {
    max-width: 200px;
    margin-left: 20px;
    flex-direction: column;
}

.video-list-small {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}