$conflower-blue: #025450;
$white: #fff;
$dusty-gray: #979797;
$athens-gray: #f6f6f8;
$concrete: #f2f2f2;
$kaitoke-green: #01502f;
$jungle-green: #2aa4a2;
$lochinvar: #32a08a;
$tory-blue: #106099;
$allports: #00809d;
$blue-dodger: #1d719e;
$light-sea-green: #2aa4a2;
$astral: #39739e;
$dark-grey-L1a: #313131;
$dark-grey-L2: #787878;
$calendar-popover-completed: #4ca5a3;
$add-btn-color: $lochinvar;
$autosuggest-highlight-background-color: $concrete;
$autosuggest-highlight-background-color: $concrete;
$clear-btn-color: $lochinvar;
$clear-btn-background-color: $white;
$footer-background-color: $white;
$header-background-color: $white;
$header-color: $conflower-blue;
$menu-active-bg-color: $white;
$modal-bg-color: $jungle-green;
$modal-color: $white;
$profile-color: $dusty-gray;
$profile-bg-color: $athens-gray;