header {
    width: 100%;
    display: flex;
    min-height: 38px;
    align-items: center;
    justify-content: space-between;
    background: blue;
}

.headerRight {
    margin-right: 10px;
}

.logo {
    color: #fff;
    font-family: 'Roboto';
    margin-left: 10px;
}

header input {
    font-size: 20px;
    margin: 20px 0px;
}